:root {
  --source-sans-pro: "Source Sans Pro", sans-serif;
  --caveat: "Caveat", cursive;
  --whitish: #ccc;
}

body {
  font-family: var(--source-sans-pro);
  color: var(--whitish);
}

/*Nav Bar*/
nav.navbar {
  background: url(assets/navbarbg.jpg) repeat-x top center rgba(26, 26, 26, 0.9);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  height: 4.5vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav.navbar a.navbar-brand img {
  width: 33px;
}

nav.navbar div#navbarSupportedContent ul li.user a.nav-link img {
  border-radius: 50%;
  width: 20px;
}

nav.navbar div#navbarSupportedContent ul li a.nav-link {
  color: var(--whitish);
}

div.collapse.navbar-collapse div.icons div {
  font-size: 20px;
}

div.collapse.navbar-collapse div.icons div span {
  font-size: 13px;
}

/*Jumbotron*/
div.jumbotron {
  height: 35vh;
  background: url("assets/gog-summer-sale.jpg") no-repeat center;
  background-size: cover;
}
